body {
  font-family: "Monaco", "Courier", monospace;
  font-size: 14px;
  line-height: 20px;
  color: #222;
  padding: 20px 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-top: 2em;
}

h1:before {
  margin-left: -1.6em;
  content: "#";
  color: #aaa;
  font-weight: normal;
  padding: 0 1em 0 0;
}

h2:before {
  margin-left: -2.2em;
  content: "##";
  color: #aaa;
  font-weight: normal;
  padding: 0 1em 0 0;
}

a {
  color: red;
}

.i {
  padding: 0 10px 0 2.5em;
}

.i li {
  list-style: none;
  text-indent: -1.2em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.mklt {
  background: red;
  text-decoration: none;
  color: #fff;
  padding: 1px 8px;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
}

.reading-list {
  padding-left: 0;
  margin: 0;
}

.reading-list dt {
  margin-bottom: 10px;
  margin-top: 80px;
}
.reading-list dd {
  list-style: none;
  margin-left: 0;
  margin-bottom: 15px;
}

.reading-list dd:before {
  content: '* * *';
  display: block;
  text-align: center;
  color: #aaa;
  margin: 20px;
}

.reading-list dt + dd:before {
  content: '';
}

.reading-list time {
  color: #aaa;
  display: block;
}

.reading-list blockquote {
  border-left: 1px solid #aaa;
  margin: 20px;
  padding-left: 20px;
  /*margin-bottom: 20px;*/
}

.reading-list .post {
  background: rgba(248, 255, 0, 0.2);
  margin-top: 50px;
  padding: 0.5em 1.0em;
  margin-left: -1em;
  margin-right: -1em;
  color: #000;
}

.reading-list dd.post:before {
  display: none;
}

@media (max-width: 480px) {
  body {
    padding: 10px 30px 30px 30px;
  }
}
