body {
  font-family: "Monaco", "Courier", monospace;
  font-size: 12px;
  line-height: 19px;
  color: #663399;
  padding: 20px 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-top: 2em;
}

h1:before {
  margin-left: -1.6em;
  content: "#";
  color: #aaa;
  font-weight: normal;
  padding: 0 1em 0 0;
}

h2:before {
  margin-left: -2.2em;
  content: "##";
  color: #aaa;
  font-weight: normal;
  padding: 0 1em 0 0;
}

a {
  color: red;
  color: #663399;
}

.i {
  padding: 0 10px 0 2.5em;
}

.i li {
  list-style: none;
  text-indent: -1.2em;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  body {
    padding: 10px 30px 30px 30px;
  }
}
